@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@650&display=swap');

body {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start (top) */
  height: 100vh;
  margin: 0;
}
.container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start (top) */
  /* margin-top: 20px; Adjust this value as needed */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

/* Make sure link doesn't have under-line */

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}


.general {
  margin: 2px;
}

.maroon-text{
  color: #7a003c;
}

.manrope-font-heading {
  font-size: calc(2.5vh + 2.5vw + 2.5vmin);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.manrope-font-heading2 {
  font-size: calc(1.75vh + 1.75vw + 1.75vmin);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.manrope-font-heading3{
  font-size: calc(1.0vh + 1.0vw + 1.0vmin);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

}


.manrope-font-body {
  font-size: calc(.5vh + 0.75vw + 0.75vmin);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}

.manrope-font-small {
  font-size: calc(.5vh + 0.5vw + 0.5vmin);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: italic;
}

.manrope-font-small-body {
  font-size: calc(.5vh + 0.5vw + 0.5vmin);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}
/* Curly bracket and About section styling */
.about-container {
  display: flex;
  align-items: left;
}

/* .curly-bracket {
  font-size: 4rem;
  color: #7a003c;
}

.about-text {
  color: #7a003c;
  font-size: 1.5rem;
  margin-left: 10px;
} */

/* @media (max-width: 600px) {
  .curly-bracket {
    font-size: 3rem;
  }

  .about-text {
    font-size: 1.2rem;
  }
} */