@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@650&display=swap');

body {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start (top) */
  height: 100vh;
  margin: 0;
}
.container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start (top) */
  margin-top: 20px; /* Adjust this value as needed */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Make sure link doesn't have under-line */

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}


.general {
margin: 10px 0;
}

.manrope-font-heading {
  font-size: calc(3vh + 3vw + 3vmin);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.manrope-font-heading2 {
  font-size: calc(1.75vh + 1.75vw + 1.75vmin);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.manrope-font-body {
  font-size: calc(.70vh + 0.75vw + 0.75vmin);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}

ul {

  .manrope-font-body {
    font-size: calc(.70vh + 0.75vw + 0.75vmin);
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
  }
}